<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jobCrawler</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">jobCrawler</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>
                <li><a href="/#about">关于</a></li>
                <li><a href="/#contact">联系我们</a></li>
                <li><a href="/search">搜索</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<ul class="job">
    <% for(var i=0;i<data.length;i++){ %>
    <li class="job_li" onclick="showInfo('<%= data[i]._id %>')">
        <div class="job_li_left">
            <div class="info_left">
                <span><%= data[i]["职位名称"]%></span>
                <span><%= data[i]["公司名称"]%></span>
                <span><%= data[i]["工作地点"]%></span>
            </div>
        </div>
        <div class="job_li_right">
            <span><%= data[i]["薪资范围"]%></span>
            <span><%= data[i]["发布时间"]%></span>
        </div>
    </li>
    <% } %>
</ul>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous" onclick="prePage()"><a>上一页</a></li>
        <li class="next" onClick="nextPage()"><a id="next" data-length="<%= data.length%>">下一页</a></li>
    </ul>
</nav>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
